*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F3F6;
}
.table1{
    border: 0;
    width: 100%;
    background-color: #2874F0;
}
.logo>img{
    /* align-items: right; */
    margin-left: 100px;

}
.search_box>input{
    width: 400px;
    font-size: 15px;
    padding: 10px;
    /* margin-left: 50px; */
}
.login>button{
    font-size: 15px;
    padding:5px;
    color: #2874F0;
}
.more>h4{
    color: white;
}
.table2{
    border: 0;
    width:"100%";
    background-color:"white";
    height:"8%";
    margin: 10px;
}
.catagories{
    width: 14%;
    
}
.catagories:hover{
    text-decoration: underline;
    cursor: pointer;
}
.table4{
    border:"0";
     width:"100%";
    background-color:"white"
}
.img:hover{
    cursor: pointer;
    text-decoration: underline;

}
.table3{
    display: flex;
    justify-content: space-between;
}
.btn3>button{
    font-size: 15px;
    padding:5px;
    color: #2874F0;
}

.btn3>button:hover{
    cursor: pointer;
}